/* // HEADER */
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Grayish-blue);
    position: relative;
}

.header .header__menu {
    display: none;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

.header .menu--closed {
    display: none;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

.header__menu,
.header__logo,
.header__nav,
.header__actions {
    height: 5rem;
}

.header__menu {
    margin-right: 1rem;
    z-index: 1000;
}

.menu__button {
    background: none;
    border: none;
    font-weight: 600;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
}

.header__logo {
    margin-right: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__link + .nav__link {
    margin-left: 1rem;
}

.nav__link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s ease-in;
}

.nav__link.active {
    color: var(--Very-dark-blue);
    border-bottom: 3px solid var(--Orange);
}

/* .nav__links li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s ease-in;
}

.nav__links li.active {
    color: var(--Very-dark-blue);
    border-bottom: 3px solid var(--Orange);
} */

/* // CART && PROFILE */
.header__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.actions__cart {
    background: none;
    border: none;
    width: 22px;
    height: 20px;
    margin-right: 2rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
    position: relative;
}

.actions__cart-quantity {
    font-size: 0.625rem;
    color: var(--White);
    min-width: 15px;
    min-height: 15px;
    padding-top: 2.5px;
    border-radius: 50%;
    background-color: var(--Orange);
    position: absolute;
    top: -8px;
    right: -5px;
    display: none;
}

.actions__profile {
    width: 38px;
    height: 38px;
    background: none;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: border 0.2s ease-in;
    cursor: pointer;
}

/* // Add on profile click */
.profile--open {
    border: 1px solid var(--Orange);
}

/* // Add on cart btn click */
.cart--active .actions__cart-icon {
    fill: var(--Very-dark-blue);
}

/* // 785px */
@media screen and (max-width: 49.063em) {
    .header {
        padding: 0 2rem;
    }

    .header .header__menu {
        display: flex;
        visibility: visible;
        pointer-events: auto;
    }

    /* .header .menu--open {
        display: block;
        visibility: visible;
        pointer-events: auto;
        transition: all 0.3s ease-in;
    } */

    .header__nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 12rem;
        height: 100svh;
        font-weight: 600;
        color: var(--Very-dark-blue);
        padding: 6rem 2rem 0;
        align-items: flex-start;
        background-color: var(--White);
        z-index: 999;
    }

    .nav__links {
        height: min-content;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__link {
        height: min-content;
    }

    .nav__link + .nav__link {
        margin: 0;
        margin-top: 1rem;
    }
}
