.product {
    max-width: 50rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 4rem auto;
}

.product__box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product__container {
    display: flex;
    flex-direction: column;
}

.product__image--box {
    border-radius: 9px;
    cursor: pointer;
}

.product__image,
.thumbnail__image {
    border-radius: 8px;
}

.product__thumbnails {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.thumbnail--active,
.product__thumbnail {
    position: relative;
    border: 1.5px solid transparent;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.thumbnail--active {
    border: 1.5px solid var(--Orange);
    outline: none;
}

.thumbnail--active::before,
.product__thumbnail::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Light-grayish-blue);
    opacity: 0;
    border-radius: 8px;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

.thumbnail--active::before {
    opacity: 0.7;
}

/* ////////// */
.product__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__type {
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.product__name {
    max-width: 21.25rem;
    font-size: 1.8rem;
    color: var(--Black);
    margin-top: 0.4rem;
}

.product__description {
    font-size: 0.8rem;
    margin: 1.8rem 0 1rem;
}

.product__price {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
}

.procuct__discount {
    font-size: 0.8rem;
    padding: 0.1rem 0.25rem;
    color: var(--White);
    background-color: var(--Black);
    border-radius: 4px;
    margin-left: 0.5rem;
}

.product__price--original {
    text-decoration: line-through;
    font-weight: 600;
}

/* ////////// */
.button__actions {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--Light-grayish-blue);
}

.button__decrement {
    background: none;
    border: none;
    outline: none;
    width: 12px;
    height: 4px;
    fill: var(--Orange);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.button__increment {
    background: none;
    border: none;
    outline: none;
    width: 12px;
    height: 12px;
    fill: var(--Orange);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.button__decrement:hover,
.button__increment:hover {
    fill: var(--Pale-orange);
    transform: scale(1);
}

.button__decrement:active,
.button__increment:active {
    fill: var(--Orange);
    transform: scale(1.1);
}

/* //758px // /* // Tablet */
@media screen and (max-width: 47.375em) {
    .product {
        grid-template-columns: 1fr;
        margin-top: 0;
        gap: 1.5rem;
    }

    .product__image {
        border-radius: 0;
    }

    .product__thumbnails,
    .product__details {
        padding: 0 1rem;
    }

    .product__price--container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button__container {
        flex-direction: column;
    }

    .button__actions {
        width: 100%;
        justify-content: space-between;
    }
}

/* //480px // */
@media screen and (max-width: 30em) {
    .product__container {
        display: none;
    }
}
