@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

/* Box sizing rules */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

p {
    text-wrap: pretty;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Clear default styles for anchor links */
a {
    text-decoration: none;
    color: currentColor;
    outline: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Set core body defaults */
body {
    font-family: 'Kumbh Sans', serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    background-color: var(--White);
    min-height: 100svh;
    line-height: 1.5;
}

.menu__icon {
    width: 16px;
    height: 15px;
    fill: var(--Dark-grayish-blue);
}

.logo-icon {
    width: 138px;
    height: 20px;
}

.actions__cart-icon {
    width: 22px;
    height: 20px;
    fill: var(--Dark-grayish-blue);
    transition: fill 0.3s ease-in;
}

.cart__button {
    width: 22px;
    height: 20px;
    fill: var(--Black);
}

.icon-plus {
    width: 12px;
    height: 12px;
}

.icon-minus {
    width: 12px;
    height: 4px;
}
